/* --------------------------------------------------------------------------------------------
                                        GENERAL
-------------------------------------------------------------------------------------------- */

:root {
    /* Colors */
    --c-primary: #3163AC;
    --c-secondary: #5A82BD;
    --c-light-blue: #9DBAE5;
    --c-grey: #F8F9FB;
    --c-dark: #000;
    --c-light: #fff;
    --c-error: #dd3f0e;

    /* Fonts */

    /* Font size */
    --fs-ratio: 1.2;
    --fs-s: calc(var(--fs-m) / var(--fs-ratio));
    --fs-m: 1em;
    --fs-l: calc(var(--fs-m)* var(--fs-ratio));
    --fs-xl: calc(var(--fs-l)* var(--fs-ratio));
    --fs-xxl: calc(var(--fs-xl)* var(--fs-ratio));

   /* Font Family */
   --ff-poppins: 'Poppins';

   /* Font weight */
   --fw-extra_bold: 900;
   --fw-bold: 700;
   --fw-semi-bold: 600;
   --fw-regular: 500;
   --fw-medium: 400;
   --fw-light: 300;
}

/* Font family */

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-poppins);
    font-size: var(--fs-m);
    line-height: 1.45;
    font-weight: var(--fw-regular);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:is(a, a:hover, button) {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    max-width: 80ch;
}

/* --------------------------------------------------------------------------------------------
                                      COMPONENT
-------------------------------------------------------------------------------------------- */

/* Menu */

.main_menu {
  position: absolute;
  padding: 24px;
  width: 100%;
}

.main_menu_container {
  position: relative;
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  left: 0;
}

.search {
  position: absolute;
  right: 0;
}

/* Buttons */

.btn {
  font-size: var(--fs-m);
  font-weight: var(--fw-medium);
  transition: all 0.2s linear;
  padding: 16px;
  border-radius: 8px;
}

.btn:hover {
  transition: all 0.2s linear;
}

.btn_blue {
  color: var(--c-light);
  background-color: var(--c-primary);
  border: 1px solid var(--c-primary);
}

.btn_line_blue {
  color: var(--c-primary);
  background-color: transparent;
  border: 1px solid var(--c-primary);
}

.btn_white {
  color: var(--c-primary);
  background-color:  var(--c-light);
  padding: 16px 32px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

/* --------------------------------------------------------------------------------------------
                                      HOME
-------------------------------------------------------------------------------------------- */

/* Hero */

.home .hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  background-color: var(--c-grey);
}

.home .hero .content {
  width: 100%;
}

.home .hero .split-screen-cta {
  width: 80px;
}